html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.map {
    background-color: #eee;
    position: absolute;
    left: 300px;
    right: 0;
    bottom: 0;
    top: 50px;
}

.sidebar {
    overflow-y: auto; /* This line allows the sidebar to scroll when there is
                         a lot of content in it */
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 400px;
    bottom: 0;
    top: 50px;
}
.header {
  height: 50px;
  width: 400px;
  top: 0;
  bottom: 50px;
  left: 0;


}
