html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}


.header{
  position: absolute;
  font-size: 20px;
  height: 40px;
  font-family: monospace;
  padding: 10px;
  color: #ddd;
  background-color: black;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
}




.map {
    background-color: #eee;
    position: absolute;
    left: 400px;
    right: 0;
    bottom: 0;
    top: 0;
}

.sidebar {
    overflow-y: auto; /* This line allows the sidebar to scroll when there is
                         a lot of content in it */
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 400px;
    bottom: 0;
    top: 0;
}

.card {
  padding: 20px;
  margin: 5px;
  border: 1px #000 solid;
  position: relative;
  top: 40px;
}

.card_active{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
  border: 1px #000 solid;
  position: relative;
  top: 40px;
}
